// Конфигурация Babel

{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                // Автоматическая иньекция только нужных полифилов
                "useBuiltIns": "usage"
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-private-methods",
        "@babel/plugin-syntax-dynamic-import"
    ]
}
