extends template

block mainContent
    .grid
        lhm-lazy-image.lazy-image(src="images/color1.jpg")
            .image-loader
        lhm-lazy-image.lazy-image(src="images/color2.jpg")
            .image-loader
        lhm-lazy-image.lazy-image(src="images/color3.jpg")
            .image-loader
        lhm-lazy-image.lazy-image(src="images/color4.jpg")
            .image-loader
        lhm-lazy-image.lazy-image(src="images/color5.jpg")
            .image-loader
        lhm-lazy-image.lazy-image(src="images/color6.jpg")
            .image-loader
        lhm-lazy-image.lazy-image(src="images/color7.jpg")
            .image-loader